body {
  font-family: 'Minecraft', Dosis, sans-serif;
  background-color: #cfdaff;
  color: #007bff;
}

ul {
  color:  #ff0099;
  font-weight: bold;
  font-family: Dosis;
  align-content: center;
  align: center;
}

li {
  margin-bottom: 10px;
  align: center;
  font-size: 30px;
}
h1{
  font-size: 60px;
}
a {
  color:  red;
  text-decoration: bold;
}

a:hover {
  color: #ff0099;
}

a:active {
  color: red;
}

.rest-in-peace {
  color: #6c757d;
  font-style: italic;
}

.real-name {
  font-weight: bold;
}

.pronouns-page {
  color: #007bff;
}

.mc-username {
  font-family: 'Minecraft', Courier, monospace;
}

.mc-server {
  color: #ff0099;
}

.mc-server:hover {
  color: #ff69b4;
}

.cuddles {
  color: #6c757d;
}

.custom-art {
  color: #ff0099;
}

.custom-art:hover {
  color: #ff69b4;
}
